#sprite {
  width: 15px;
  /* Width of one frame */
  height: 15px;
  /* Height of the sprite */
  background-image: url('/images/Chickies2.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  /* animation: peck 1s steps(14) infinite; */
}

h1 {
  font-family: 'Lobster', cursive;
}

/* @keyframes peck {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 -180px;
  }
} */