@model Tamagotchi.Models.Pets

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tamagotchi Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
  <h1>Welcome to your Tamagotchi home!</h1>
  <p>Please take care of your pet!</p>
  <a href="/pet/new">Give your new pet a name!</a>
  <br>
  <a href="/pet">Go to your pet</a>
  <br>
  <a href="/pet/food">Feed your pet</a>

  @if (@Model != null)
  {
    <h2>Your Pet's Status</h2>
    <ul>
      <li>Name: @Model.Name</li>
      <li>Hunger Status: @Model.FoodStatus</li>
      <li>Attention: @Model.AttentionStatus</li>
      <li>Rest Status: @Model.RestStatus</li>
    </ul>
  }
</body>

</html>